@model PNP.Models.Story

<h2>Edit</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StoryId)
    @Html.HiddenFor(model => model.Name)
    @Html.LabelFor(model => model.Content)

    @Html.EditorFor(model => model.Content)

    <input type="submit" value="Save" />

}
<p>@Html.ActionLink("Back to list", "Index")</p>