@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IList<PNP.Models.Story>

<div class="container">
    <button class="display-new-story" data-toggle="modal" data-target="#textModal">New Story</button>
</div>
<div>
    @foreach (var story in Model)
    {
        <div class="container post">
            <h3>@Html.DisplayFor(x => story.Title)</h3>
            <p>By: @story.Name</p>
            <p>@Html.DisplayFor(x => story.Content)</p>

            <button class="comment-story" value=@Html.DisplayFor(x => story.StoryId) data-toggle="modal" data-target="#textModal">Comment</button> |
            <button class="details-story" value=@Html.DisplayFor(x => story.StoryId)  data-toggle="modal" data-target="#textModal">Details</button> |
            <button class="edit-story" value=@Html.DisplayFor(x => story.StoryId)  data-toggle="modal" data-target="#textModal">Edit</button> |
            <button class="delete-story" value=@Html.DisplayFor(x => story.StoryId)  data-toggle="modal" data-target="#textModal">Delete</button>
            <div id="details"></div>
        </div>
    }
    <!-- Modal -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="Modal"></div>
            </div>
        </div>
    </div>
    <!-- End of Modal -->
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.comment-story').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id : this.value},
                url: '@Url.Action("Create", "Comments")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        });
        $('.display-new-story').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Create")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        });
        $('.details-story').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("ShowSpecificComments", "Comments")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        });
        $('.edit-story').click(function () {
            $('#myInput').focus()
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        });
        $('.delete-story').click(function () {
                $('#myInput').focus()
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id : this.value},
                    url: '@Url.Action("Delete")',
                    success: function (result) {
                        $('#Modal').html(result);
                    }
                });
            });
        });
</script>