@model PNP.Models.Message
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.To)
    @Html.TextBoxFor(model => model.To)
    @Html.LabelFor(model => model.From)
    <input type="hidden" name="From" id="From" value="+1 503-850-2272 ">
    @Html.LabelFor(model => model.Body)
    @Html.TextBoxFor(model => model.Body)
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")
