@model PNP.Models.Comment

@{
    ViewData["Title"] = "Comment - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new comment</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.StoryId)
    @Html.DropDownList("StoryId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")